In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
data = pd.read_csv("silver.csv")
data.describe()

           latitude     longitude         depth           mag          hour
count  3.855719e+06  3.855719e+06  3.855719e+06  3.855719e+06  3.855719e+06
mean   3.619690e+01 -1.000200e+02  2.228747e+01  1.839301e+00  1.131284e+01
std    1.993314e+01  7.744373e+01  5.490393e+01  1.308862e+00  6.856064e+00
min   -8.442200e+01 -1.799990e+02  0.000000e+00 -9.990000e+00  0.000000e+00
25%    3.377566e+01 -1.410697e+02  3.317000e+00  9.600000e-01  5.000000e+00
50%    3.757433e+01 -1.189197e+02  7.500000e+00  1.500000e+00  1.100000e+01
75%    4.460733e+01 -1.159835e+02  1.520000e+01  2.380000e+00  1.700000e+01
max    8.738600e+01  1.800000e+02  7.358000e+02  9.100000e+00  2.300000e+01

In [12]:
data = data[['date', 'hour', 'latitude', 'longitude', 'depth', 'mag']]
data.describe()

               hour      latitude     longitude         depth           mag
count  3.855719e+06  3.855719e+06  3.855719e+06  3.855719e+06  3.855719e+06
mean   1.131284e+01  3.619690e+01 -1.000200e+02  2.228747e+01  1.839301e+00
std    6.856064e+00  1.993314e+01  7.744373e+01  5.490393e+01  1.308862e+00
min    0.000000e+00 -8.442200e+01 -1.799990e+02  0.000000e+00 -9.990000e+00
25%    5.000000e+00  3.377566e+01 -1.410697e+02  3.317000e+00  9.600000e-01
50%    1.100000e+01  3.757433e+01 -1.189197e+02  7.500000e+00  1.500000e+00
75%    1.700000e+01  4.460733e+01 -1.159835e+02  1.520000e+01  2.380000e+00
max    2.300000e+01  8.738600e+01  1.800000e+02  7.358000e+02  9.100000e+00

In [18]:
import time
import datetime

timestamp = []
for d, t in zip(data['date'], data['hour']):
    try:
        ts = datetime.datetime.strptime(d+' '+str(t) + ':0:0', '%Y-%m-%d %H:%M:%S')
        timestamp.append(time.mktime(ts.timetuple()))
    except ValueError:
        # print('ValueError')
        timestamp.append('ValueError')

In [19]:
timeStamp = pd.Series(timestamp)
data['timestamp'] = timeStamp.values
data.describe()

,hour,latitude,longitude,depth,mag,timestamp
count,3.855719e+06,3.855719e+06,3.855719e+06,3.855719e+06,3.855719e+06,3.855719e+06
mean,1.131284e+01,3.619690e+01,-1.000200e+02,2.228747e+01,1.839301e+00,1.118936e+09
std,6.856064e+00,1.993314e+01,7.744373e+01,5.490393e+01,1.308862e+00,3.869948e+08
min,0.000000e+00,-8.442200e+01,-1.799990e+02,0.000000e+00,-9.990000e+00,9.471240e+07
25%,5.000000e+00,3.377566e+01,-1.410697e+02,3.317000e+00,9.600000e-01,8.341326e+08
50%,1.100000e+01,3.757433e+01,-1.189197e+02,7.500000e+00,1.500000e+00,1.190048e+09
75%,1.700000e+01,4.460733e+01,-1.159835e+02,1.520000e+01,2.380000e+00,1.454422e+09
max,2.300000e+01,8.738600e+01,1.800000e+02,7.358000e+02,9.100000e+00,1.641010e+09

In [20]:
final_data = data.drop(['date', 'hour'], axis=1)
final_data = final_data[final_data.timestamp != 'ValueError']
final_data.describe()

           latitude     longitude         depth           mag     timestamp
count  3.855719e+06  3.855719e+06  3.855719e+06  3.855719e+06  3.855719e+06
mean   3.619690e+01 -1.000200e+02  2.228747e+01  1.839301e+00  1.118936e+09
std    1.993314e+01  7.744373e+01  5.490393e+01  1.308862e+00  3.869948e+08
min   -8.442200e+01 -1.799990e+02  0.000000e+00 -9.990000e+00  9.471240e+07
25%    3.377566e+01 -1.410697e+02  3.317000e+00  9.600000e-01  8.341326e+08
50%    3.757433e+01 -1.189197e+02  7.500000e+00  1.500000e+00  1.190048e+09
75%    4.460733e+01 -1.159835e+02  1.520000e+01  2.380000e+00  1.454422e+09
max    8.738600e+01  1.800000e+02  7.358000e+02  9.100000e+00  1.641010e+09